<head>
  <title>Bitpong</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <a href="/">
            <div class="media">
              <span class="pull-left">
                <img class="logo" src="/img/logo.png" alt="logo">
              </span>
              <div class="media-body">
                <p class="media-heading">BitPONG</p>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text">{{ loginButtons }}</p>
        </ul>

        {{> onlineNavbarItem }}
      </div>
    </div>
  </nav>

  <div class="container main-container">
    <div class="row">
      <div id="phaser-element" class="col-md-6">
        {{> body }}
      </div>
      <div class="col-md-6">
        {{> score}}
      </div>
    </div>
  </div>
</body>

<template name="onlineNavbarItem">
  <ul class="nav navbar-nav">
    <p class="navbar-text">Online players: {{ onlinePlayers }}</p>
  </ul>
</template>

<template name="body">
  {{#unless currentUser }}
    <h1>Welcome on Bitpong</h1>
    <h3>Please, log in!</h3>
  {{else }}
    {{#if currentGame.master }}
      {{#unless currentGame.slave }}
        <h1>Waiting for an opponent...</h1>
      {{/unless }}
    {{/if }}
  {{/unless }}
</template>

<template name="score">
  {{#if currentGame.master}}
  {{#if currentGame.slave}}
  <h1>Score</h1>
  <h1>{{ currentGame.score.master }} - {{ currentGame.score.slave }}</h1>
  <h3>
    {{ state }}
  </h3>
  {{/if }}
  {{/if }}
</template>
