html, body {
    background-color: black;
}

.navbar-brand {
    text-decoration: none;
    color: black;
}

.logo {
    width: 24px;
}

.media-heading {
    margin-top: 3px;
}

.main-container {
    color: white;
}
